 
<div class="panel panel-default">
  <div class="panel-heading">Editing User</div>
  <div class="panel-body"> 
<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

</div>
</div>
